# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode user data
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcarchive
*.xcresult

# Build output
build/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods (not used, but just in case)
Pods/
